<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="TargetPercentage" value="1"/>
    <add key="GapPercentage" value="2"/>
    <add key="PriceRangeHigh" value="5000"/>
    <add key="PriceRangeLow" value="50"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLAZURECONNSTR_aztgsqldbEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb-stage;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SQLAZURECONNSTR_aztgsqldb" connectionString="Server=tcp:aztgsqlserver.database.windows.net,1433;Initial Catalog=aztgsqldb-stage;Persist Security Info=False;User ID=aztgsqlserver;Password=N@ren123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>