<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PreviousTradeDay" value=""/>
    <add key="TargetPercentage" value=""/>
    <add key="GapPercentage" value=""/>
    <add key="PriceRangeHigh" value=""/>
    <add key="PriceRangeLow" value=""/>
    <add key="Exchange" value="NSE"/>
    <add key="ApiKey" value="ar8VJeMwIW54Ya4cbvTr48KEP9obrSBd993kvaaC" />
    <add key="ApiSecret" value="jb5m80ild3" />
    <add key="RedirectUrl" value="http://aztgwebapp.azurewebsites.net/Home/AuthCallBack" />
  </appSettings>
  <connectionStrings>
    <add name="SQLAZURECONNSTR_aztgsqldbEntities" connectionString="metadata=res://*/TradeGenieModel.csdl|res://*/TradeGenieModel.ssdl|res://*/TradeGenieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb-stage;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SQLAZURECONNSTR_aztgsqldb" connectionString="Server=tcp:aztgsqlserver.database.windows.net,1433;Initial Catalog=aztgsqldb-stage;Persist Security Info=False;User ID=aztgsqlserver;Password=N@ren123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>