<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AzureWebJobsDashboard" value="" />
    <add key="AzureWebJobsStorage" value="" />
    <!-- Historical Engine configs  -->
    <add key="UpstoxBaseUri" value="https://api.upstox.com/" />
    <add key="HistoricalAPI" value="historical" />
    <add key="StartingTimeHour" value="09" />
    <add key="StartingTimeMinute" value="10" />
    <add key="EndingTimeHour" value="22" />
    <add key="EndingTimeMinute" value="45" />
    <add key="HistoryEndTimeHour" value="15" />
    <add key="HistoryEndTimeMinute" value="32" />
    <add key="DayHistoryStartDate" value="30-09-2019" />
    <add key="DayHistoryEndDate" value="04-10-2019" />
    <add key="Exchange" value="nse_eq" />
    <add key="PeriodInDays" value="1" />
    <add key="DelayInSec" value="62" />
    <add key="IntervalInMin" value="1" />
    <add key="IntervalPeriod" value="day" />
    <add key="Api_Key" value="ar8VJeMwIW54Ya4cbvTr48KEP9obrSBd993kvaaC" />
    <add key="Api_Secret" value="jb5m80ild3" />
    <add key="Redirect_Url" value="http://aztgwebapp.azurewebsites.net/Home/AuthCallBack" />
    <add key="UserAgent" value="Visual Studio" />
    <!-- Consolidator Engine configs  -->
    <add key="Min3Timer" value="09:18,09:21,09:24,09:27,09:30,09:33,09:36,09:39,09:42,09:45,09:48,09:51,09:54,09:57,10:00,10:03,10:06,10:09,10:12,10:15,10:18,10:21,10:24,10:27,10:30,10:33,10:36,10:39,10:42,10:45,10:48,10:51,10:54,10:57,11:00,11:03,11:06,11:09,11:12,11:15,11:18,11:21,11:24,11:27,11:30,11:33,11:36,11:39,11:42,11:45,11:48,11:51,11:54,11:57,12:00,12:03,12:06,12:09,12:12,12:15,12:18,12:21,12:24,12:27,12:30,12:33,12:36,12:39,12:42,12:45,12:48,12:51,12:54,12:57,13:00,13:03,13:06,13:09,13:12,13:15,13:18,13:21,13:24,13:27,13:30,13:33,13:36,13:39,13:42,13:45,13:48,13:51,13:54,13:57,14:00,14:03,14:06,14:09,14:12,14:15,14:18,14:21,14:24,14:27,14:30,14:33,14:36,14:39,14:42,14:45,14:48,14:51,14:54,14:57,15:00,15:03,15:06,15:09,15:12,15:15,15:18,15:21,15:24,15:27,15:30" />
    <add key="Min5Timer" value="09:20,09:25,09:30,09:35,09:40,09:45,09:50,09:55,10:00,10:05,10:10,10:15,10:20,10:25,10:30,10:35,10:40,10:45,10:50,10:55,11:00,11:05,11:10,11:15,11:20,11:25,11:30,11:35,11:40,11:45,11:50,11:55,12:00,12:05,12:10,12:15,12:20,12:25,12:30,12:35,12:40,12:45,12:50,12:55,13:00,13:05,13:10,13:15,13:20,13:25,13:30,13:35,13:40,13:45,13:50,13:55,14:00,14:05,14:10,14:15,14:20,14:25,14:30,14:35,14:40,14:45,14:50,14:55,15:00,15:05,15:10,15:15,15:20,15:25,15:30" />
    <add key="Min10Timer" value="09:25,09:35,09:45,09:55,10:05,10:15,10:25,10:35,10:45,10:55,11:05,11:15,11:25,11:35,11:45,11:55,12:05,12:15,12:25,12:35,12:45,12:55,13:05,13:15,13:25,13:35,13:45,13:55,14:05,14:15,14:25,14:35,14:45,14:55,15:05,15:15,15:25,15:30" />
    <add key="Min15Timer" value="09:30,09:45,10:00,10:15,10:30,10:45,11:00,11:15,11:30,11:45,12:00,12:15,12:30,12:45,13:00,13:15,13:30,13:45,14:00,14:15,14:30,14:45,15:00,15:15,15:30" />
    <add key="Min25Timer" value="09:40,10:05,10:30,10:55,11:20,11:45,12:10,12:35,13:00,13:25,13:50,14:15,14:40,15:05,15:30" />
    <add key="Min30Timer" value="09:45,10:15,10:45,11:15,11:45,12:15,12:45,13:15,13:45,14:15,14:45,15:15,15:30" />
    <add key="Min60Timer" value="10:15,11:15,12:15,13:15,14:15,15:15,15:30" />
    <add key="EODTimer" value="19:15" />
    <!-- Indicator Engine configs  -->
    <add key="TimePeriodsToCalculate" value="3,5,10,15,25,30,60" />
    <add key="EMAsToCalculate" value="7,13,12,26" />
    <add key="EHEMAsToCalculate" value="8,13,21,34,55" />
    <add key="VWMAsToCalculate" value="7,14" />
    <add key="RSIsToCalculate" value="7,14" />
    <add key="ForceIndexesToCalculate" value="2,13" />
    <add key="ATRsToCalculate" value="7,11,14" />
    <add key="SuperTrendMultipliers" value="3,2,1.5" />
    <add key="EMADeviationPeriods" value="13,26" />
    <!-- Switches, keys for parallel processing and bulk loading  -->
    <add key="BulkCommitBatchSize" value="2000" />
    <add key="IsHistoryFetchReq" value="false" />
    <add key="IsDayHistoryFetchReq" value="false" />
    <add key="IsConsolidatorReq" value="false" />
    <add key="IsIndicatorReq" value="true" />
    <add key="HistoryAPICallBatchSize" value="30" />
    <add key="IndicatorLoadDateFrom" value="2019-10-11" />
    <add key="RedisCacheName" value="aztgcache"/>
    <add key="RedisCachePassword" value="SZMbjgGgbAIsKTQywXr10CG9lCS6o+rarkqWD5GvLRA="/>
  </appSettings>
  <connectionStrings>
    <add name="SQLAZURECONNSTR_aztgsqldbEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb-stage;persist security info=True;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SQLAZURECONNSTR_aztgsqldb" connectionString="Server=tcp:aztgsqlserver.database.windows.net,1433;Initial Catalog=aztgsqldb-stage;Persist Security Info=False;User ID=aztgsqlserver;Password=N@ren123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!--<add name="aztgsqldbEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb;persist security info=True;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="aztgsqldb" connectionString="Server=tcp:aztgsqlserver.database.windows.net,1433;Initial Catalog=aztgsqldb;Persist Security Info=False;User ID=aztgsqlserver;Password=N@ren123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.1.0" newVersion="9.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>