<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="UpstoxBaseUri" value="https://api.upstox.com/" />
    <add key="HistoricalAPI" value="historical"/>
    <add key="StartingTimeHour" value="09" />
    <add key="StartingTimeMinute" value="15" />
    <add key="EndingTimeHour" value="15" />
    <add key="EndingTimeMinute" value="30" />
    <add key="StartDate" value="12-09-2019"/>
    <add key="EndDate" value="12-09-2019"/>
    <add key="Exchange" value="nse_eq" />
    <add key="PeriodInDays" value="1" />
    <add key="DelayInMin" value="1" />
    <add key="IntervalInMin" value="1" />
    <add key="Api_Key" value="ar8VJeMwIW54Ya4cbvTr48KEP9obrSBd993kvaaC" />
    <add key="Api_Secret" value="jb5m80ild3" />
    <add key="Redirect_Url" value="http://aztgwebapp.azurewebsites.net/Home/AuthCallBack" />
    <add key="UserAgent" value="Visual Studio"/>
  </appSettings>
  <connectionStrings>
    <add name="aztgsqldbEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb;persist security info=True;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>