<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AzureWebJobsDashboard" value="" />
    <add key="AzureWebJobsStorage" value="" />
    <!-- Historical Engine configs  -->
    <add key="UpstoxBaseUri" value="https://api.upstox.com/" />
    <add key="HistoricalAPI" value="historical" />
    <add key="StartingTimeHour" value="09" />
    <add key="StartingTimeMinute" value="10" />
    <add key="EndingTimeHour" value="15" />
    <add key="EndingTimeMinute" value="45" />
    <add key="HistoryEndTimeHour" value="15" />
    <add key="HistoryEndTimeMinute" value="32" />
    <add key="DayHistoryStartDate" value="01-09-2019" />
    <add key="DayHistoryEndDate" value="27-09-2019" />
    <add key="Exchange" value="nse_eq" />
    <add key="PeriodInDays" value="1" />
    <add key="DelayInSec" value="62" />
    <add key="IntervalInMin" value="1" />
    <add key="Api_Key" value="ar8VJeMwIW54Ya4cbvTr48KEP9obrSBd993kvaaC" />
    <add key="Api_Secret" value="jb5m80ild3" />
    <add key="Redirect_Url" value="http://aztgwebapp.azurewebsites.net/Home/AuthCallBack" />
    <add key="UserAgent" value="Visual Studio" />
    <!-- Consolidator Engine configs  -->
    <add key="Min3Timer" value="09:19,09:22,09:25,09:28,09:31,09:34,09:37,09:40,09:43,09:46,09:49,09:52,09:55,09:58,10:01,10:04,10:07,10:10,10:13,10:16,10:19,10:22,10:25,10:28,10:31,10:34,10:37,10:40,10:43,10:46,10:49,10:52,10:55,10:58,11:01,11:04,11:07,11:10,11:13,11:16,11:19,11:22,11:25,11:28,11:31,11:34,11:37,11:40,11:43,11:46,11:49,11:52,11:55,11:58,12:01,12:04,12:07,12:10,12:13,12:16,12:19,12:22,12:25,12:28,12:31,12:34,12:37,12:40,12:43,12:46,12:49,12:52,12:55,12:58,13:01,13:04,13:07,13:10,13:13,13:16,13:19,13:22,13:25,13:28,13:31,13:34,13:37,13:40,13:43,13:46,13:49,13:52,13:55,13:58,14:01,14:04,14:07,14:10,14:13,14:16,14:19,14:22,14:25,14:28,14:31,14:34,14:37,14:40,14:43,14:46,14:49,14:52,14:55,14:58,15:01,15:04,15:07,15:10,15:13,15:16,15:19,15:22,15:25,15:28,15:31" />
    <add key="Min5Timer" value="09:21,09:26,09:31,09:36,09:41,09:46,09:51,09:56,10:01,10:06,10:11,10:16,10:21,10:26,10:31,10:36,10:41,10:46,10:51,10:56,11:01,11:06,11:11,11:16,11:21,11:26,11:31,11:36,11:41,11:46,11:51,11:56,12:01,12:06,12:11,12:16,12:21,12:26,12:31,12:36,12:41,12:46,12:51,12:56,13:01,13:06,13:11,13:16,13:21,13:26,13:31,13:36,13:41,13:46,13:51,13:56,14:01,14:06,14:11,14:16,14:21,14:26,14:31,14:36,14:41,14:46,14:51,14:56,15:01,15:06,15:11,15:16,15:21,15:26,15:31" />
    <add key="Min10Timer" value="09:26,09:36,09:46,09:56,10:06,10:16,10:26,10:36,10:46,10:56,11:06,11:16,11:26,11:36,11:46,11:56,12:06,12:16,12:26,12:36,12:46,12:56,13:06,13:16,13:26,13:36,13:46,13:56,14:06,14:16,14:26,14:36,14:46,14:56,15:06,15:16,15:26,15:31" />
    <add key="Min15Timer" value="09:31,09:46,10:01,10:16,10:31,10:46,11:01,11:16,11:31,11:46,12:01,12:16,12:31,12:46,13:01,13:16,13:31,13:46,14:01,14:16,14:31,14:46,15:01,15:16,15:31" />
    <add key="Min30Timer" value="09:46,10:16,10:46,11:16,11:46,12:16,12:46,13:16,13:46,14:16,14:46,15:16,15:31" />
    <add key="Min60Timer" value="10:16,11:16,12:16,13:16,14:16,15:16,15:31" />
    <add key="EODTimer" value="09:10" />
    <!-- Indicator Engine configs  -->
    <add key="TimePeriodsToCalculate" value="3,5,10,15,30,60,375" />
    <add key="EMAsToCalculate" value="7,13,12,26" />
    <add key="EHEMAsToCalculate" value="8,13,21,34,55" />
    <add key="VWMAsToCalculate" value="7,14" />
    <add key="RSIsToCalculate" value="7,14" />
    <add key="ForceIndexesToCalculate" value="2,13" />
    <add key="ATRsToCalculate" value="7,11,14" />
    <add key="SuperTrendMultipliers" value="3,2,1.5" />
    <add key="EMADeviationPeriods" value="13,26" />
  </appSettings>
  <connectionStrings>
    <!--<add name="aztgsqldbEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb-stage;persist security info=True;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="aztgsqldb" connectionString="Server=tcp:aztgsqlserver.database.windows.net,1433;Initial Catalog=aztgsqldb-stage;Persist Security Info=False;User ID=aztgsqlserver;Password=N@ren123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    
    <add name="aztgsqldbEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aztgsqlserver.database.windows.net,1433;initial catalog=aztgsqldb;persist security info=True;user id=aztgsqlserver;password=N@ren123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="aztgsqldb" connectionString="Server=tcp:aztgsqlserver.database.windows.net,1433;Initial Catalog=aztgsqldb;Persist Security Info=False;User ID=aztgsqlserver;Password=N@ren123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.1.0" newVersion="9.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>